.atf-container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    font-family: 'Arial', sans-serif;

    .left-content {
        flex: 1.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 48px;
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;        
        position: relative;
        z-index: 1;

        .title {
            font-size: 3rem;
            margin: 0;
            font-family: 'Poppins';
            font-weight: 400;
        }

        .subTitle {
            font-size: 1.5rem;
            margin-top: 10px;
            font-family: 'Poppins';
            font-weight: 200;
        }
    }

    .right-content {
        flex: 1;
        position: relative;
        overflow: hidden;



        .image-slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s ease-in-out, visibility 0s linear 1s;
            box-shadow: inset 0 0 100px rgba(0, 0, 0, 1);

            &.active {
              opacity: 1;
              visibility: visible;
              transition: opacity 1s ease-in-out;
              animation: scaleAnimation 12s ease-in-out infinite;
            }
          }  
    }
}

.button-row{
    display: flex;
    gap: 16px;
    display: flex;
    align-items: center;
    span {
        font-weight: 100;
    }
}

@keyframes scaleAnimation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }