.header-container{
    position: fixed;
    left: 0;
    right: 0;
    padding: 32px 24px 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    backdrop-filter: blur(2px);

    .leftWing {
        box-sizing: border-box;
        display: flex;
        gap: 24px;
        align-items: center;
        .logo{
            width: 64px;
            height: auto;
        }
    }

    .rightWing {
        box-sizing: border-box;
        display: flex;
        gap: 24px;
        align-items: center;
    }

}

