body{
  margin: 0px;
  color: white;
  background-color: rgb(29,29,29);
  font-family: 'Open sans';
}

.logo {
  width: 120px;
  height: auto;
  svg {
    g{
      fill: white;
    }
    fill: white;
  }

  svg {
    g{
      fill: white;
    }
    fill: white;
  }
}